

ul {	
    display: flex;
    align-items: center;
    gap: 1.2rem;
    list-style: none;
}

header {
    background-color: #3D5A93;
    color: white;
    padding: 15px;
    text-align: center;
    width: 1754px;
    height: 100px;
}

.nav {
    width: 100%;
    height: 50px;
    gap: 30px;
    justify-content: center;
    display: flex;
    box-shadow: #000000 0px 0px 10px;
    align-items: center;   
}
.jo img {
    box-shadow: rgb(0, 4, 4);
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 10px;
	cursor: pointer;
}
p {
    box-shadow: rgb(0, 4, 4) 0px 0px 10px;
    position: relative;
    border-radius: 10px;
	cursor: pointer;
    color: #000000;
    font-size: 28px;
    padding: 0.5rem 1rem;
    transition: color 0.25s;
    flex-basis: 40%;
}

p::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgb(142, 142, 146);
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

p:hover {
    color: rgb(255, 255, 255);
}

p:hover::after {
    scale: 1 1;
}

.imagen {
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    animation: bgAnimation 10s linear infinite;
    overflow: hidden;
}

@keyframes bgAnimation {
    0% { background-image: (url('../img/Bogota.png'));}
    30% { background-image: url('../img/LONDRES.jpg');}
    60% { background-image: url('../img/PARIS.jpg');}
    100% { background-image: url('../img/Bogota.png');}
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 150px;
    object-fit: cover;
}

.card h2 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.card p {
    font-size: 1rem;
    color: #555;
}




